.line {
  fill: none;
}

.tooltip {
  background: #606060;
  color: #ffffff;
  border-radius: 5px;
  position: absolute;
  padding: 10px;
  pointer-events: none;
  text-align: left;
}

.teamCheckbox, #team_select_1, #team_select_2 {
  display: inline-block;
}

#team_spacer {
  width: 400px;
  display: inline-block;
}

#wins_view, #heatmap_view {
  height: 600px;
  width: 1200px;
}

#team_view text {
  font-size: 2em;
  pointer-events: none;
}

#team_view .avg {
  font-size: 3em;
  pointer-events: none;
}
